.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.btnTrans{
  width: 20px;
  position: absolute;
  background-color: red;
  &.v-enter-active,&.v-leave-active{
    transition:all .3s ease;
  }
  &.v-enter{
    background-color: blue;
  }
  &.v-enter-to{
    background-color: red;
  }
  &.v-leave{
    background-color: red;
  }
  &.v-leave-to{
    background-color: blue;
  }
}
